/*=== Aplicando CSS global ===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*Acá no va mas nada*/
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

/*=== Aplicando CSS al encabezado ===*/
#logo{
    width: 50%;
    margin: auto; /*va a buscar la manera de centrarse*/
    padding-top: 10px;
}

#menu{
    text-align: center;
}






/*=== Aplicando comprotamiento responsive o adaptativo ===*/
/*Medium devices (tablets, 768px and up)*/
/*=== Trabajando con CSS-GRID ===*/
@media (min-width: 768px){
    /*=== Aplicando CSS al encabezado ===*/
    #encabezado{
        display: grid;
        grid-template-columns: 20% 80%; /* Medidas: px em rem % fr
        2 cols porque en mi caja div menu hay dos subcajas*/
        align-items: center;

    }
    #menu{
        display: grid;
        grid-template-columns: 2fr 1fr;    
    }

    #opcionesIzquierdo{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /*hay 4 cols, 1fr es el redimensionamiento de cada col.     https://docs.emmet.io/cheat-sheet/*/
    }

    #opcionesDerecho{
        display: grid;
        grid-template-columns: 1fr 1fr; /*o puedo poner repeat(2, 1fr)*/  
    }

    /*=== Aplicando CSS a la seccion productos ===*/
    #productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*=== Aplicando CSS a la seccion galeria ===*/
    section#galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    /*Lo demas no hace falta copiarlo, porque hereda*/
    section#galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}










